*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix {
  overflow: auto;
}
html, body {
	background-color:#ffffff;
	height: 100%;
}
.container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 5px;
}
.contents-wrapper, .block-contact, .image-contact {
	margin-left: auto;
	margin-right: auto;
}
.block-contact {
	display: block;
}
h3, .contact-reason, .contact-info-small, .contact-info-large {
	color: #383838;
}
h3 {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 6px;
}
.image-contact {
	padding-top: 3.5%;
}
.contents-contact {
	margin-top: 5%;
}
.block-contact h4, .block-contact p {
	letter-spacing: 2px;
}
.block-contact h4, .block-contact p, .block-contact a {
	font-family: 'Open Sans', sans-serif;
}
.block-contact h4 {
	font-size: 15px;
}
.block-contact p, .block-contact a {
	font-size: 13px;
}
.block-contact p, .block-contact address, .block-contact a {
	display: inline;
	vertical-align: top;
}
#contact-reason-2 {
	margin-top: 7%;
}
.contact-info-small a {
	font-size: 13px;
}
.block-contact a, .block-contact a:active, .block-contact a:visited,
.block-contact a:focus {
	color: #707070;
}
.block-contact a:hover {
	color: #383838;
	text-decoration: none;
}
@media screen and (max-width: 349px) {
	.contents-wrapper {
		width: 400px;
	}
	.block-contact, .image-contact {
		max-width: 75%;
	}
	.title-contact, .image-contact {
		margin-bottom: 3%;
	}
	.title-contact {
		margin-top: 8%;
	}
	.contents-contact {
		margin-left: 3%;
	}
	.contact-info-small p, .contact-info-small a {
		font-size: 12px;
	}
	.contact-info-large {
		display: none;
	}
}
@media screen and (max-width: 411px) {
	.contents-wrapper {
		width: 400px;
	}
	.block-contact, .image-contact {
		max-width: 75%;
	}
	.title-contact, .image-contact {
		margin-bottom: 3%;
	}
	.title-contact {
		margin-top: 8%;
	}
	.contents-contact {
		margin-left: 3%;
	}
	.contact-info-large {
		display: none;
	}
}
@media screen and (min-width: 412px) and (max-width: 549px) {
	.contents-wrapper {
		width: 400px;
	}
	.block-contact, .image-contact {
		max-width: 75%;
	}
	.title-contact, .image-contact {
		margin-bottom: 5%;
	}
	.title-contact {
		margin-top: 8%;
	}
	.contents-contact {
		margin-left: 5%;
	}
	.contact-info-small {
		display: none;
	}
}
@media screen and (min-width: 550px) and (max-width: 767px) {
	.contents-wrapper {
		width: 500px;
	}
	.block-contact {
		max-width: 70%;
	}
	.title-contact {
		margin-top: 5%;
		margin-bottom: 3%;
	}
	.image-contact {
		max-width: 60%;
		margin-bottom: 2%;
	}
	.contents-contact {
		margin-left: 8%;
	}
	.contact-info-small {
		display: none;
	}
}
@media screen and (min-width: 768px) and (max-width: 990px) {
	.contents-wrapper {
		width: 768px;
	}
	.block-contact, .image-contact {
		max-width: 85%;
	}
	.title-contact {
		text-align: left;
		margin: 5% 0 2% 4%;
	}
	.contents-contact {
		margin-top: 10%;
		padding: 0;
	}
	.contact-info-small {
		display: none;
	}
}
@media screen and (min-width: 991px) and (max-width: 1101px) {
	.contents-wrapper {
		width: 900px;
	}
	.block-contact {
		max-width: 85%;
	}
	.title-contact {
		text-align: left;
		margin: 5% 0 2% 6%;
	}
	.image-contact {
		max-width: 75%;
	}
	.contents-contact {
		margin-top: 10%;
		padding: 0;
	}
	.contact-info-small {
		display: none;
	}
}
@media screen and (min-width: 1102px) {
	.contents-wrapper {
		width: 1000px;
	}
	.block-contact {
		max-width: 85%;
	}
	.title-contact {
		text-align: left;
		margin: 5% 0 2% 6%;
	}
	.image-contact {
		max-width: 75%;
	}
	.contents-contact {
		margin-top: 10%;
		padding: 0;
	}
	.contact-info-small {
		display: none;
	}
} 